*{
    margin: 0;
    padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Shared styles*/
.p_text{
    font-family: "Inter", sans-serif;
    font-size: 1.35rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.p_btn{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #E95A08;
    padding: 1.18rem 5rem;
    border: none;
}

.p_h{
    font-family: "Noto Serif", serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.h2_color{
    color: #E95A08;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    margin-top: 120px;
}

/*header part*/
nav, .banner{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav{
    gap: 590px;
    margin-top: 2rem;
    align-items: center;
}

.nav_list{
    display: flex;
    list-style: none;
    gap: 2rem;
}

#bold a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
}

.light a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #8987A1;
}

#regular a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

#regular i{
    margin-right: 0.5rem;
}

/*header-banner*/
.banner{
    align-items: flex-end;
    padding-top: 6.6rem;
}

.b_content h2{
    font-family: "Noto Serif", serif;
    font-size: 4rem;
    font-weight: 700;
    color: #E95A08;
}

.solo{
    font-family: "Noto Serif", serif;
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
}

/*Product part*/
.products h2,h4,p,button{
    text-align: center;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 3rem;
}

.cards{
    max-width: 270px;
}

.cards h4{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

#h_bold{
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 0px;
}

/*fans part*/
.fans{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 210px;
}

.flw_fans{
    max-width: 540px;
}

.flw_fans h2{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}

.flw_fans li{
    margin: 1rem;
}

.flw_img{
    position: relative;
}

.img2{
    position: absolute;
    width: 286px;
    top: -140px;
    left: 350px;
    filter: drop-shadow(4px 7px 3px rgba(0, 0, 0, 0.493));
}

/*deals part*/
.content{
    max-width: 888px;
    margin: 0 auto;
}

.offers{
    display: grid;
    grid-template-columns: 367px 753px;
    grid-template-rows: repeat(2, 197px);
    gap: 1.5rem;
    margin-top: 120px;
}

.blocks{
    border: none;
    border-radius: 22px;
    display: grid;
    align-items: center;
}

.blocks h4{
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.blocks h3{
    font-family: "Noto Serif", serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
}

#box1{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),url(assets/deal-bloom.png);
}

#box2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),url(assets/deal-zabo.png);
    grid-row: span 2;
}

#box2 a{
    font-size: 1.75rem;
}

#box3{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),url(assets/deal-ana.png);
}

.blocks a{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    margin-top: 1.5rem;
}



/*responsive design*/
@media screen and (max-width : 576px){
    .light, #bold {
        display: none;
    }


    nav{
        gap: 0px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .banner{
        flex-direction: column-reverse;
        gap: 28px;
        padding-top: 28px;
    }

    .b_content{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    span{
        font-size: 1.5rem;
    }

    .b_content h2{
        font-size: 1.5rem;
    }

    .b_content span{
        font-size: 1.5rem;
    }

    .b_content p{
        margin-top: 13px;
        text-align: left;
    }

    section{
        margin-top: 4rem;
    }

    .card_container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 0rem 1rem 0rem 1rem;
    }

    .cards {
        margin: 0 auto;
    }

    .cards img{
        width: 100%;
    }

    .info h2{
        font-size: 1.5rem;
    }

    .info p{
        margin-bottom: 1.5rem;
    }

    .cards h4{
        font-size: 1rem;
    }

    .p_btn{
        width: 100%;
        padding: 19px 30px;
    }

    .fans{
        flex-direction: column;
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .fans img{
        width: 100%;
    }

    .img2{
        display: none;
    }

    .flw_fans h2{
        font-size: 1.5rem;
    }

    .flw_fans ul{
        font-size: 14px;
    }

    .offers{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .blocks{
        width: calc(100% - 2rem);
        height: 185px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 1rem 0 1rem;
    }

    #box1{
        order: 1;
        border-radius: 14px;
    }

    #box2{
        order: 3;
        border-radius: 14px;
    }

    #box3{
        order: 2;
        border-radius: 0px;
    }

    .blocks h3{
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    }

    #box2 a{
        font-size: 1rem;
    }

    .p_h{
    font-family: "Noto Serif", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    }

    .p_text{
    font-size: 14px;
    }
}